body {
  font-family: "Montserrat", sans-serif;
  color: #000000;
}
nav .container {
  max-width: 100%;
  padding-right: 4vw !important;
  padding-left: 4vw !important;
}
nav.navbar-dark {
  background-color: transparent;
  padding-left: 0;
  padding-right: 0;
  padding-top: .8vw;
  padding-bottom: .8vw;
}
.navbar-dark .navbar-brand {
  font-size: 40px;
}
.navbar-dark .navbar-nav .nav-link {
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
}
.navbar-dark .navbar-nav .nav-link.active {
  border-bottom: 1px solid #ffffff;
}

.content-wrapper {
  padding-top: 4vw;
  padding-right: 4vw;
  padding-bottom: 4vw;
  padding-left: 4vw;
}

.content-wrapper.banner-wrapper {
  padding-top: 0px;
  min-height: 90vh;
  display: flex;
  align-self: center;
  justify-content: center;
  padding-right: 0vw;
  padding-bottom: 0vw;
  padding-left: 0vw;
}

.banner-wrapper .why-proof{
  position: absolute;
  color: white;
  bottom: 20px;
}

.banner-wrapper .why-proof h3{
  font-size: 40px;
  font-weight: 700;
}

.banner-wrapper .why-proof .paragraph{
  font-weight: 700;
}

.banner-wrapper .why-proof a{
  color: #f47779;
  font-weight: 700;
}
.separator{
  width: 3px;
  background-color: #c7c7c7;
  height: 100%;
}
section.why-proof h3{
  font-size: 50px;
  font-weight: 800;
  letter-spacing: normal;
  text-transform: capitalize;
}

.content-wrapper.banner-wrapper .banner-background {
  position: absolute;
  z-index: -9;
  top: 0px;
  right: 0vw;
  bottom: 0vw;
  left: 0vw;
  background-image: url(../images/bg-demo.jpeg);
  text-align: center;
  color: #fff;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* Buttons css */
.button-link {
  color: #fff;
  border-color: #fff;
  background: transparent;
  display: inline-block;
  -webkit-font-smoothing: antialiased;
  line-height: normal;
  padding: 1.5em 2.505em;
  font-size: 16px;
  border-radius: 0px;
}
.button-link:hover {
  cursor: pointer;
  background: #fff;
  color: #000;
}

section.content-wrapper {
  padding-top: 4vw;
  padding-bottom: 4vw;
  padding-right: 4vw;
  padding-left: 4vw;
}
section .section-heading {
  text-align: center;
  white-space: pre-wrap;
  transition-timing-function: ease;
  transition-duration: 0.9s;
  transition-delay: 0.2s;
  color: #000;
  font-size: 36px;
  font-weight: 700;
  text-transform: uppercase;
  padding-bottom: 16px;
}

.team-member .avatar .image {
  min-height: 500px;
  max-height: 500px;
  width: 100%;
  object-fit: cover;
  border-radius: 0px;
  margin-bottom: 15px;
}

.team-member .member-name {
  color: #000000;
  font-weight: 600;
  font-size: 18px;
}

section.blogs-section {
  background-color: #2824a9;
  color: white;
  padding-top: 4vw;
  padding-bottom: 4vw;
}

footer.footer {
  padding-top: 6vw;
  padding-bottom: 6vw;
  background-color: black;
  color: white;
}

footer.footer .follow-links a {
  padding-right: 10px;
  padding-left: 10px;
  font-size: 20px;
}

@media (min-width: 768px) {
  .navbar-expand-md .navbar-nav .nav-link {
    padding-right: 0rem;
    padding-left: 0rem;
  }
  .navbar-expand-md .navbar-nav .nav-link {
    margin-left: 1.5vw;
  }
}

.paragraph {
  font-size: 18px;
  font-weight: 500;
  outline: none;
  letter-spacing: 1px;
}
